<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-casconfirme-heading" data-cy="CasconfirmeCreateUpdateHeading">Create or edit a Casconfirme</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_code_registre">Code Registre</label>
          <input
            type="text"
            class="form-control"
            name="code_registre"
            id="field_code_registre"
            data-cy="code_registre"
            formControlName="code_registre"
          />
          <div
            *ngIf="
              editForm.get('code_registre')!.invalid && (editForm.get('code_registre')!.dirty || editForm.get('code_registre')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('code_registre')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_lien_parente">Lien Parente</label>
          <select class="form-control" name="lien_parente" formControlName="lien_parente" id="field_lien_parente" data-cy="lien_parente">
            <option [ngValue]="null"></option>
            <option *ngFor="let elien_parente of elien_parenteValues" [value]="elien_parente">elien_parente</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_fiche">Fiche</label>
          <select class="form-control" id="field_fiche" data-cy="fiche" name="fiche" formControlName="fiche" [compareWith]="compareFiche">
            <option *ngIf="!editForm.get('fiche')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="ficheOption" *ngFor="let ficheOption of fichesSharedCollection">{{ ficheOption.id }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['fiche'])!.invalid && (editForm.get(['fiche'])!.dirty || editForm.get(['fiche'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['fiche'])?.errors?.required"> This field is required. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
