<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="medecin">
      <h2 data-cy="medecinDetailsHeading"><span>Medecin</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ medecin.id }}</span>
        </dd>
        <dt><span>Nom</span></dt>
        <dd>
          <span>{{ medecin.nom }}</span>
        </dd>
        <dt><span>Prenom</span></dt>
        <dd>
          <span>{{ medecin.prenom }}</span>
        </dd>
        <dt><span>Cin</span></dt>
        <dd>
          <span>{{ medecin.cin }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ medecin.email }}</span>
        </dd>
        <dt><span>Tel</span></dt>
        <dd>
          <span>{{ medecin.tel }}</span>
        </dd>
        <dt><span>Adresse</span></dt>
        <dd>
          <span>{{ medecin.adresse }}</span>
        </dd>
        <dt><span>Etablissement</span></dt>
        <dd>
          <div *ngIf="medecin.etablissement">
            <a [routerLink]="['/etablissement', medecin.etablissement.id, 'view']">{{ medecin.etablissement.id }}</a>
          </div>
        </dd>
        <dt><span>Servicesante</span></dt>
        <dd>
          <div *ngIf="medecin.servicesante">
            <a [routerLink]="['/servicesante', medecin.servicesante.id, 'view']">{{ medecin.servicesante.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/medecin', medecin.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
