<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-fiche-heading" data-cy="FicheCreateUpdateHeading">Create or edit a Fiche</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_datemaj">Datemaj</label>
          <div class="input-group">
            <input
              id="field_datemaj"
              data-cy="datemaj"
              type="text"
              class="form-control"
              name="datemaj"
              ngbDatepicker
              #datemajDp="ngbDatepicker"
              formControlName="datemaj"
            />
            <button type="button" class="btn btn-secondary" (click)="datemajDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('datemaj')!.invalid && (editForm.get('datemaj')!.dirty || editForm.get('datemaj')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('datemaj')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_pathologie">Pathologie</label>
          <select
            class="form-control"
            id="field_pathologie"
            data-cy="pathologie"
            name="pathologie"
            formControlName="pathologie"
            [compareWith]="comparePathologie"
          >
            <option *ngIf="!editForm.get('pathologie')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="pathologieOption" *ngFor="let pathologieOption of pathologiesSharedCollection">
              {{ pathologieOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['pathologie'])!.invalid && (editForm.get(['pathologie'])!.dirty || editForm.get(['pathologie'])!.touched)"
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['pathologie'])?.errors?.required"> This field is required. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
